<!DOCTYPE html>
<html>
<head>

	<meta name="description" content="udacity user signup homework"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">

	<title>Udacity User Signup</title>

	<style>
		{% include "style.css" %}
	</style>
</head>

<body>
	<div class="container">
		<form method="post">
			<fieldset>
				<legend><h2> User Sign Up</h2></legend>
				<div>
				   
				    <p>
				    	<label class="field" for="username"> Username </label>
						<input autofocus type="text" name="username" placeholder="user name" value="">
						{{ user_error_msg }}
				    </p>

				    <p>
				    	<label class="field" for="password">Password</label>
						<input type="password" name="password" placeholder="password" value="">
						{{ pass_error_msg}}
				    </p>

				    <p>
				    	<label class="field" for="verpassword">Verify Password</label>
						<input type="password" name="verpassword" placeholder="repeat password" value="">
						{{ pass_error_msg_2 }}
				    </p>

				    <p>
				    	<label class="field" for="email">Email (optional)</label>
						<input type="text" name="email" placeholder="email address" value="">
						{{ email_error_msg }}
				    </p>
	
					<button class="button">Submit</button>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>